@charset "UTF-8";

@font-face {
    font-family: Corinthians;
    src: url(fontes/corinthian/Corv2.ttf) format(opentype);
}

*{
    margin: 0px;
    padding: 0px;
}
:root{

--cor0: #000000;
--cor1: #FFFFFF;
--cor2: #C8102E;
--cor3e: #1C1C1C;

--fonte-h1: "Oswald", sans-serif;
--fonte-leitura: "Poppins", sans-serif;
--fonte-corinthians: "Corinthians"
}

ul{
    font-family: var(--fonte-leitura);
}

strong{
    color: var(--cor2);
    font-weight: bold;
    padding: 2px 6px;
}

body{
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, #7A0019, #C8102E);
    text-align: center;
    min-height: 150px;
}

header > h1{
    font-family: var(--fonte-corinthians);
    color: #FFFFFF;
    font-size: 3em;
    margin-bottom: 20px;
}

header > p{
    font-family: var(--fonte-leitura);
    color: #FFFFFF;
    
}

nav{
  padding: 22px 0;
  text-align: center;
}

nav > a{
    font-family: var(--fonte-corinthians);
    font-size: 2em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
}

nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor1);

}

main{
    background-color: #000;
    background-color: #fff;
    color: #000;
    max-width: 900px;
    margin: 0 auto 60px auto;
    padding: 40px;
    border-radius: 12px;
    
}

main p{
     font-family: var(--fonte-leitura);
     line-height: 1.5em;
}

main h1{
    font-family: var(--fonte-corinthians);
    font-size: 4em;
    line-height: 1.5em;
}

main h2{
    font-family: var(--fonte-corinthians);
    font-size: 4em;
    line-height: 1.5em;
}

main img {
    width: 100%;
    
}

aside{
    background-color: var(--cor1);
    font-family: var(--fonte-leitura);
    max-width: 900px;
    margin: 0 auto 60px auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 2em;
    color:var(--cor0);
    padding: 40px;
    border-radius: 12px;
    line-height: 1.5em;
    
}

aside img{
    display: block;
    margin: 30px auto;
    max-width: 100%;
  width: 80%;
  border-radius: 8px;    
}


aside h1{
    font-family:var(--fonte-corinthians);
    font-size: 3em;
    line-height: 2em;
}

aside p{
    font-family: var(--fonte-leitura);
    line-height: 1.5;
}

footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > a:hover{
     background-color: var(--cor2);
    text-decoration: underline;
    color: var(--cor1);
  }