@charset "UTF-8";

body{
    background-color:rgb(169, 255, 169) ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
 color: rgb(1, 39, 1);   
}
h1#principal{
   text-align: center; 
   background-color:rgb(1, 39, 1); 
   color: white;
}
h2{
    color: grey;
}

.basico{
    color: rgb(170, 170, 13);
}
.intermediario{
    color: rgb(99, 3, 3);
}
.avancado{
    color: rgb(2, 32, 22);
}
.destaque{
    background-color: rgba(80, 105, 29, 0.459);
}