@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a:hover, footer a:hover{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;

}

section{
    line-height: 2em;
    padding-top: 10%;padding-bottom: 10%;
}

section.normal{
    padding-left: 30px;
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
}

section.image > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}