@charset "UTF-8"

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #f4f4f4;
}


header {
background-color: #000;
color: #fff;
text-align: center;
padding: 30px 10px;
}


nav {
background-color: #111;
text-align: center;
padding: 10px;
}


nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
text-decoration: underline;
}


section {
padding: 30px;
background-color: white;
margin: 20px;
border-radius: 8px;
}


section img {
max-width: 100%;
border-radius: 8px;
margin-top: 15px;
}


h2 {
color: #000;
}


.idolos {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}


.idolo {
text-align: center;
margin: 10px;
}


.idolo img {
width: 150px;
height: 200px;
object-fit: cover;
}


footer {
background-color: #000;
color: white;
text-align: center;
padding: 15px;
}
